/* ===========
    Colors
============ */


/*  Primary  */

$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

/*================
    Typography
================ */


/*  Body Copy  */

$font-size: 12px;

/*  Font  */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
$family: "Spartan",
sans-serif;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;